// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}


.custom-margins {
  max-width: 83%;
  height: 37.5rem;
  margin: 0 auto;
  padding: 50px;
}
